$(document).on("turbolinks:load", function() {
  $("#search-input").keypress(function(){
    // console.log($(this));
    var array = [];
    $.each($('.hit'), function(i,v) {
      array.push($(v).data('id'));
    });
    // get weather data via ajax
    $.ajax({
      type: "GET",
      url: "/city",
      data: {data: array},
      success: function(data) {
        //  console.log(data);
        var hits = $('.hit');
        for (var i = 0; i < data.length; i++) {
          var hit = $(hits[i]);
          var city = data[i];
          console.log(city, city.description, city.degrees);
          hit.find('.weather').append(city.degrees).append(city.description);
        }
      }
    })
    .done(function(){
      $('.b').each(function(index, button) {
        // console.log(button);
        $(button).on('click', function() {
          destination = $(this).parent().find('.airport').val()
          var origin = $(this).parent().find('.origin').val();
          leaveDate = $(this).parent().find('.leave-date').val();
          returnDate = $(this).parent().find('.return-date').val();
          console.log(returnDate, leaveDate);
          console.log(origin);
          get_flight_fares(origin, destination, leaveDate, returnDate, $(this).data('objectid'));
          });
        });
      });
    }); // end search keypress event
  });// end search document
  function flightRequest(origin, destination, date) {
    return {
      "request": {
        "slice": [
          {
            "origin": origin,
            "destination": destination,
            "date": date
          }
        ],
        "passengers": {
          "adultCount": 1,
          "infantInLapCount": 0,
          "infantInSeatCount": 0,
          "childCount": 0,
          "seniorCount": 0
        },
        "solutions": 2,
        "refundable": false
      }
    }
  }
  function get_flight_fares(origin, destination, leaveDate, returnDate, placeId){
    console.log("it works", placeId);
    $.ajax({
      method: "POST",
      //Set up your request URL and API Key.
      url: "https://www.googleapis.com/qpxExpress/v1/trips/search?key=AIzaSyCfD_PvdopfHUyWz4fX4Pc8FYFMDq8v2oU",
      contentType: 'application/json',
      dataType: 'json',
      data: JSON.stringify(flightRequest(origin, destination, leaveDate)),
      success: function (data) {
        console.log(data);
        // debugger
        var trips = data.trips.tripOption;
        var complete_flights = [];
        for (var i = 0; i < trips.length; i++) {
          console.log('result', trips[i]);
          var price = trips[i].saleTotal;
          var origin_code = trips[i].slice[0].segment[0].leg[0].origin;
          var departureTime = trips[i].slice[0].segment[0].leg[0].departureTime;
          departureTime = departureTime + " Time Zone";
          var segmentArray = data.trips.tripOption[0].slice[0].segment;
          var segment = segmentArray[segmentArray.length - 1];
          var arrivalCode = segment.leg[0].destination;
          var arrivalTime = segment.leg[0].arrivalTime;
          arrivalTime = arrivalTime + " Time Zone";
          var carriers = trips[i].slice[0].segment[0].flight.carrier;
          $('#' + placeId + '-results').append("<li>Price: " + price + " " + origin_code + " Departs: " + departureTime + " " + arrivalCode + " " + arrivalTime + " Airline: " + carriers  + "</li>");
          $('#' + placeId + '-results').append(`<a href="https://www.kayak.com/flights/${arrivalCode}-${origin_code}/${leaveDate}">${origin_code}</a>`);
        }
        $.ajax({
          method: "POST",
          url: "https://www.googleapis.com/qpxExpress/v1/trips/search?key=AIzaSyCSI8n4_Jm5nvokRoscrR1LZaCdxnxWjw8",
          contentType: 'application/json',
          dataType: 'json',
          data: JSON.stringify(flightRequest(destination, origin, returnDate)),
          success: function(data) {
            var trips = data.trips.tripOption;
            for (var i = 0; i < trips.length; i++) {
              console.log('return', trips[i]);
              var price = trips[i].saleTotal;
              var origin_code = trips[i].slice[0].segment[0].leg[0].origin;
              var departureTime = trips[i].slice[0].segment[0].leg[0].departureTime;
              departureTime = departureTime + " Time Zone";
              var segmentArray = data.trips.tripOption[0].slice[0].segment;
              var segment = segmentArray[segmentArray.length - 1];
              var arrivalCode = segment.leg[0].destination;
              var arrivalTime = segment.leg[0].arrivalTime;
              arrivalTime = arrivalTime + " Time Zone";
              var carriers = trips[i].slice[0].segment[0].flight.carrier;
              $('#' + placeId + '-return').append("<li>Price: " + price + " " + origin_code + " Departs: " + departureTime + " " + arrivalCode + " " + arrivalTime + " Airline: " + carriers  + "</li>");
              $('#' + placeId + '-return').append(`<a href="https://www.kayak.com/flights/${origin_code}-${arrivalCode}/${leaveDate}">${origin_code}</a>`);
            }
          },
          error: function(error) {
            console.log(error);
          }
        });
      },
      error: function(error){
        console.log("error:");
        console.log(error);
        //Error Handling for our request QPX Failed.");
      }
    });
  }
