// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .video {
//   position: fixed;
//   left: 50%;
//   min-width: 100%;
//   min-height: 100%;
//   width: auto;
//   height: auto;
//   z-index: -100;
//   transform: translateX(-50%);
//   margin: 0;
//   // opacity: 0.9;
// }
nav{
  background-color: black;
}
.navbar-fixed{
  height:40px;
}
nav .input-field{
  float: left;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
  line-height:45px;
  height:45px;
}
.modal.fade.in{
  width: 100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0);
}
img{
  width:100%;
}
.carousel{
  height:auto;
}
// .modal.fade.in > *{
//
// }
