// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// }
// *****************Materialize css for bootstrap
@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

nav {
  color: #fff;
  background-color: #ee6e73;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

nav a {
  color: #fff;
}

nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 2rem;
  height: 56px;
  line-height: 56px;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
}

@media only screen and (min-width: 993px) {
  nav a.button-collapse {
    display: none;
  }
}

nav .button-collapse {
  float: left;
  position: relative;
  z-index: 1;
  height: 56px;
}

nav .button-collapse i {
  font-size: 2.7rem;
  height: 56px;
  line-height: 56px;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size:30px;;
  padding: 0;
  white-space: nowrap;
}

nav .brand-logo.center {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  nav .brand-logo.left, nav .brand-logo.right {
    padding: 0;
    -webkit-transform: none;
            transform: none;
  }
  nav .brand-logo.left {
    left: 0.5rem;
  }
  nav .brand-logo.right {
    right: 0.5rem;
    left: auto;
  }
}

nav .brand-logo.right {
  right: 0.5rem;
  padding: 0;
}

nav .brand-logo i,
nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
  float: left;
  margin-right: 15px;
}

nav ul {
  margin: 0;
}

nav ul li {
  transition: background-color .3s;
  float: left;
  padding: 0;
}

nav ul li.active {
  background-color: rgba(0, 0, 0, 0.1);
}

nav ul a {
  transition: background-color .3s;
  font-size: 16px;
  color: #fff;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 15px;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

nav ul.left {
  float: left;
}

nav form {
  height: 100%;
}

nav .input-field {
  margin: 0;
  height: 100%;
}

nav .input-field input {
  height: 100%;
  font-size: 1.2rem;
  border: none;
  padding-left: 2rem;
}

nav .input-field input:focus, nav .input-field input[type=text]:valid, nav .input-field input[type=password]:valid, nav .input-field input[type=email]:valid, nav .input-field input[type=url]:valid, nav .input-field input[type=date]:valid {
  border: none;
  box-shadow: none;
}

nav .input-field label {
  top: 0;
  left: 0;
}

nav .input-field label i {
  color: rgba(255, 255, 255, 0.7);
  transition: color .3s;
  font-size: 30px;
}

nav .input-field label.active i {
  color: #fff;
}

nav .input-field label.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar-fixed {
  position: relative;
  height: 45px;
  z-index: 998;
}

.navbar-fixed nav {
  position: fixed;
  height:45px;
}

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 64px;
    line-height: 64px;
  }
  .navbar-fixed {
    height: 45px;
  }
}

nav .input-field {
    float: left;
}
nav .input-field {
    margin: 0;
    height: 100%;
}
.input-field {
    position: relative;
    margin-top: 1rem;
}
nav .brand-logo.center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.center, .center-align {
    text-align: center;
}
.right {
    float: right !important;
    margin-right: 20px;
}

nav ul {
    margin: 0;
}
ul {
    padding: 0;
    list-style-type: none;
}
nav .input-field label {
    top: 0;
    left: 0;
}
.input-field label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
}
nav{
  background-color: black;
}

nav .input-field{
  float: left;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
  line-height:45px;
  height:45px;
}
.modal.fade.in{
  width: 100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.cover-img {
  width:100%;
}

.input-field input[type=search]:focus + label i,
.input-field input[type=search]:focus ~ .mdi-navigation-close,
.input-field input[type=search]:focus ~ .material-icons {
  color: #444;
}

.input-field input[type=search] + label {
  left: 1rem;
}

.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: .3s color;
}
.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
     -moz-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

/******************STYLING FOR Home Page*******************/
#center, #center-above, #center-below {
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    }
    h1, #focus, #greeting h2, #introduction,{
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #fff;
    letter-spacing: 5px;
    font-size: 1125%;
    font-weight: 400;
    height: 76px;
    overflow: hidden;
    color: rgb(0, 0, 0);
    position: relative;
    top: 245px;
/* left: 330px; */
    font-weight: 600;
    font-size: 75px;
    color: white;
    margin-bottom: -81px;
    text-align: center;
    }
/******************STYLING FOR PLACES MODAL*******************/
.flights {
  color: black;
  text-align: left;
}
#flight-information h1{
  color:black;
}
#flight-information ul{
  color:black;
}
.modal-place{
  width: 100%;
}
.nav-tabs{
  border-bottom: 0px;
  text-align: center;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: #444;
  cursor: default;
  background-color: #f9f9f9;
  border: 0px solid #fff;
  border-bottom-color: transparent;
  }
.navbar-default{
  background-color: #000;
  border-color: #000;
}
.modal_img{
  width: 100%;
}
.modal-dialog{
  max-width: 900px;
  margin: 50px auto;
}
.modal-header{
    position:fixed;
}
.modal-body{
  padding-top: 100px;
}
.modal .modal-body {
    max-height: 550px;
    height:550px;
    overflow-y: auto;
    padding:0px;
    background-color: white;
}
.modal-fade{
padding-top: 50px;
}
.carousel{
  height:100%;
}
.carousel-inner{
  height:100%;
}
.carousel-inner>.item{
  height:100%;
}
.tab-content{
  height:100%;
}
.tab-content>.active{
  height:100%;
}
.carousel-control.right{
  margin-right: 0px;
}
.bottom{
  height:100px;
  border-radius: 0px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  background-color: white;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 50%;
}

.nav-tabs.modal-place.tab-modal li {
    float: left;
    margin-bottom: -1px;
    width: 25%;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{

}
.nav-tabs.modal-place.tab-modal > li > a:hover {
  border-color: #272727 #272727 #272727;
  background-color: #272727;
}
.nav>li {
    position: relative;
    display: inline;
  }
@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 45px;
    line-height: 45px;
  }
}
.modal-content{
border-radius:0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #fff;
  cursor: default;
  background-color: #171717;
  border: 0px solid #000;
  /* border-bottom-color: transparent; */
  border-radius: 0px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
  height:100%;
}
.bio {
  padding: 5px 130px;
}
.bio h1 {
  color:black;
  text-align: center;
}
.bio p {
  color:black;
  text-align: center;
}
/******************STYLING FOR LOGIN & SIGNUP MODAL*******************/
@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}
.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}
.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}
.login-tab{
}
.fav{
  height:500px;
}
body{
  line-height: 0px;
}
.container-full:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
/****************** END STYLING FOR LOGIN & SIGNUP MODALS*******************/
