// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .video {
//   position: fixed;
//   left: 50%;
//   min-width: 100%;
//   min-height: 100%;
//   width: auto;
//   height: auto;
//   z-index: -100;
//   transform: translateX(-50%);
//   margin: 0;
//   // opacity: 0.9;
// }
.video{
height:300px;

}
.login_pg {
  display: inline-block;
  // padding: 2em;

}
body {
  margin:0;
}
.weather {
  position: absolute;
  text-align: center;
  margin-top: 0%;
  margin-left: 45%;
}
.navbar-brand {
    float: left;
    height: 50px;
    font-size: 28px;
    line-height: 20px;
    padding: 15px;
}
// #video-background {
//   position: fixed;
//   right: 0;
//   bottom: 0;
//   min-width: 100%;
//   min-height: 100%;
//   width: auto;
//   height: auto;
//   z-index: -100;
// }
