<!-- <!DOCTYPE html>
<html>
<head>
<title>Infinite Scroll Instant Search Example</title>
<meta name="description" content="Example of an infinite scroll implementation using Algolia's instantsearch.js">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
<script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
</head> -->
<!-- <body> -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-logo-main hidden-xs">Strangerplaces<p>

        <form class="navbar-form" role="search">
          <div class="form-group" style="display: inline">
            <div class="input-group" style="display: table">
              <input id="search-input" type="text" placeholder="Discover Sunny hiking "/>
              <span class="clear hidden-sm hidden-md hidden-lg"></span>
              <span class="input-group-btn hidden-xs" style="width: 1%">
                <button class="btn btn-default" type="button">
                  <% if !current_page?(login_path) %>
                  <% if current_user %>
                  Signed in as <%= current_user.name %> | <%= link_to "Logout", logout_path %>
                  <% else %>
                  <%= link_to 'Login', login_path %>
                  <% end %>
                  <% end %>
                </button>

              </span>
            </div>
          </div>
        </form>
      </div>

    </div>
  </nav>

</div>

<main>
  <!-- <div id="left-column">
  <div id="genre" class="facet"></div>
  <div id="price" class="facet"></div>
  <div id="brand" class="facet"></div>
  <div id="type" class="facet"></div>
</div> -->

<div id="right-column">
  <!-- <div id="sort-by-wrapper"><span id="sort-by"></span></div>
  <div id="stats"></div> -->


  <!-- main page  -->
  <div class="container">
    <div style="background-color:blue;">
      <div class="fullscreen-bg">
        <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
          <source src="video/big_buck_bunny.webm" type="video/webm">
            <source src="video/big_buck_bunny.mp4" type="video/mp4">
              <source src="video/big_buck_bunny.ogv" type="video/ogg">
              </video>
            </div>
          </div>
        </div>

        <!-- gets hidden -->
        <div id="hits"></div>
      </div>
    </main>

    <script type="text/html" id="hits-template">
      <div class="hits">
        <!-- {{#pageNo}}
        <div class="page-no">
        Page {{pageNo}} -->
        <!-- </div> -->
        <!-- {{/pageNo}} -->
        {{#hits}}
        <a href="#" class="hit" data-toggle="modal" data-target="#{{objectID}}" >
          <!-- <a href="{{url}}"> -->
          <div class="cover-img">
            <img src="{{image}}" alt="{{name}}" class="hit-img">
          </div>
          <!-- <div class="hit-img img-responsive" style="background-image: url('{{image}}');"> -->
          <p class="name">
            {{#_snippetResult}}
            {{{_snippetResult.name.value}}}
            {{/_snippetResult}}
            {{^_snippetResult}}
            {{name}}
            {{/_snippetResult}}
          </p>
          <!-- </div> -->
          <!-- </a> -->
          <a>
            <!-- Modal -->
            <div class="modal fade" id="{{objectID}}" tabindex="-1" role="dialog" aria-labelledby="popup">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <!--button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button-->
                    <h4 class="modal-title" id="popup">{{name}}</h4>
                  </div>
                  <div class="modal-body">
                    <div class="modal_img">
                      <img src="{{image}}" alt="{{name}}">
                    </div>
                    <div class="modal_bio">
                      <p>{{bio}}</p>
                    </div>
                    <a href="{{website}}" target="_blank">{{name}}</a>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a type="button" class="btn btn-primary" href="{{website}}" target="_blank"> visit {{name}}</a>
                  </div>
                </div>
              </div>
            </div>
            <!--end modal-->
            {{/hits}}
          </div>
        </script>
        <script type="text/html" id="no-results-template">
          <div id="no-results-message">
            <p>We didn&rsquo;t find any results for the search <em>&ldquo;{{query}}&rdquo;</em></p>
            <a href="#" class="clear-all">Clear all</a>
          </div>
        </script>
        <!-- </body>
        </html> -->
