<div class="login_pg">
  <% if !current_user %>
  <%= link_to "Sign Up or Sign in To Save Your Favorite Places!", login_path %>
  <% end %>
</div>
<div class="video"><%= video_tag "TravelLoop_001.mp4", autoplay:true, loop:true%>
</div>
