  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <div class="input-field">
          <input id="search-input" type="text" placeholder="Discover Sunny hiking "/>
          <label for="search"><i class="material-icons">search</i></label>
        </div>
        <a href="#!" class="brand-logo center">Strangerplaces</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn modal-trigger" href="#login">login</a></li>
          <li><a class="waves-effect waves-light btn modal-trigger" href="#heart">login</a></li>
        </ul>
      </div>
    </nav>
  </div>
<!-- STARTmain page-->
  <div class="container-full"><%= video_tag "TravelLoop02.mp4", autoplay:true, height: "100%", width: "100%", loop: true%>
  </div>
<!-- ENDmain page -->
<!-- START results page -->
<div id="hits"></div>
<script type="text/html" id="hits-template">
<div class="hits">
    <!-- {{#pageNo}}
    <div class="page-no">
    Page {{pageNo}} -->
    <!-- </div> -->
    <!-- {{/pageNo}} -->
    {{#hits}}

      <!-- <a href="{{url}}"> -->
      <a href="#" class="hit" data-toggle="modal" data-target="#{{objectID}}" >
        <div class="cover-img">
          <img src="{{main_img}}" alt="{{name}}" class="hit-img">
        </div>
      <!-- <div class="hit-img img-responsive" style="background-image: url('{{image}}');"> -->
        <p class="name">
          {{#_snippetResult}}
          {{{_snippetResult.name.value}}}
          {{/_snippetResult}}
          {{^_snippetResult}}
          {{name}}
          {{/_snippetResult}}
        </p>
        <!-- </div> -->
      </a>
      <!-- Modal -->
      <div class="modal fade" id="{{objectID}}" tabindex="-1" role="dialog" aria-labelledby="popup">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <!--button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button-->
              <h4 class="modal-title" id="popup">{{name}}</h4>
            </div>
            <div class="modal-body">
              <div class="modal_img">
                <img src="{{main_img}}" alt="{{name}}">
              </div>
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="{{main_img}}" ealt="Chania" width="460" height="345">
      </div>

      <div class="item">
        <img src="{{main_img}}"alt="Chania" width="460" height="345">
      </div>

      <div class="item">
        <img src="{{main_img}}"alt="Flower" width="460" height="345">
      </div>

      <div class="item">
        <img src="{{main_img}}"alt="Flower" width="460" height="345">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
              <div class="modal_bio">
                <p>{{bio}}</p>
              </div>
              <a href="{{website}}" target="_blank">{{name}}</a>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <a type="button" class="btn btn-primary" href="{{website}}" target="_blank"> visit {{name}}</a>
            </div>
          </div>
        </div>
      </div>
      <!--end modal-->

        {{/hits}}
      </div>
    </script>
    <script type="text/html" id="no-results-template">
      <div id="no-results-message">
        <p>We didn&rsquo;t find any results for the search <em>&ldquo;{{query}}&rdquo;</em></p>
        <a href="#" class="clear-all">Clear all</a>
      </div>
    </div>

  </script>


<!-- END results page -->
<!-- log in modal  -->
  <div id="login" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
<!-- users favorite places go here modal -->
    <div id="heart" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>users favorite places go here</h4>
        <p></p>
      </div>
    </div>
<!-- user favorits modal -->



</div><!-- container -->
<!-- </div> -->
